@import '../styles/variables';

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $global-section-padding;
    flex-direction: column;

    .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .search {
            width: 70%;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        width: 100%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        @include scrollBar;
    }
}