@import '../styles/variables';

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $global-section-padding;

    .navigation {
        display: flex;
        align-items: center;
    }
}