@import "../styles/variables";

.movie-genres {
    display: flex;
    flex-wrap: wrap;

    a {
        display: block;
        padding: 3px;
        text-align: center;
        text-decoration: none;
        color: $white;
        background: $linear-gradient;
        border-radius: $border-radius-amount;
        width: 13%;
        margin: .6%;

        .wrapper {
            background: $black;
            padding: 30px 20px;
            border-radius: $border-radius-amount;
        }

        @media (max-width: $laptop) {
            width: 19%;
            margin: .5%;
        }

        @media (max-width: $tablet) {
            width: 24%;
        }

        @media (max-width: $phone) {
            width: 49%;
        }
    }
}