// Colors.
$black: #000;
$white: #fff;
$main_color: #019567;
$linear-gradient: linear-gradient(to right, $main_color 0%, lighten($main_color, 15%) 100%);

// Fonts.
$montserrat: 'Montserrat', sans-serif;

// MISC.
$border-radius-amount: 8px;
$global-section-padding: 12px 18px;

// Breakpoints
$laptop: 1366px;
$tablet: 820px;
$phone: 480px;

@mixin scrollBar {
    @media (min-width: $phone) {
        &::-webkit-scrollbar {
            height: 8px;
            border-radius: $border-radius-amount;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: darken($white, 90%);
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: darken($white, 70%);
            border-radius: $border-radius-amount;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $main_color;
        }
    }
}