@import "../styles/variables";

.search-wrapper {
    padding: 1px;
    background: $linear-gradient;
    border-radius: 24px;
    position: relative;

    #search {
        padding: 12px 22px;
        border: 2px solid $main_color;
        border-radius: 24px;
        background: none;
        color: $white;
        font-family: $montserrat;
        font-size: 16px;
        background: $black;
        width: 100%;
    }

    button[type="submit"] {
        position: absolute;
        top: 6px;
        right: 6px;
        border-radius: 200px;
        background: $linear-gradient;
        width: 39px;
        height: 37px;

        svg {
            fill: $white;
            width: 20px;
        }
    }
}