@import "../styles/variables";

.favourites {
    width: 44px;
    margin-left: 12px;

    @media (max-width: $phone) {
        width: 55px;
    }

    .wrapper {
        position: relative;
        background-color: $main-color;
        border-radius: 200px;
        padding: 5px 7px;

        span {
            display: block;
            position: absolute;
            top: -5px;
            right: -5px;
            padding: 3px 6px;
            background: $white;
            color: #000;
            border-radius: 200px;
            font-weight: 600;
            font-size: 12px;
        }
    }
}