@import '../styles/variables';

nav {
    display: flex;
    color: $white;
    width: 100%;

    a, span {
        display: block;
        text-decoration: none;
        padding: 5px 12px;
        color: $white;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        opacity: .7;

        &.active {
            opacity: 1;
        }
    }

    a:hover {
        opacity: 1;
    }

    span {
        padding-left: 0;
    }
}