@import '../styles/variables';

nav {
    display: flex;
    color: $white;
    margin-right: 30px;

    a {
        display: block;
        text-decoration: none;
        margin: 0 12px;
        color: $white;
    }
}